<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">Female Category</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li><a routerLink="/dashboard">Dashboard</a></li>
                    <li><i class='bx bx-chevron-right'></i></li>

                    <li class="breadcrumb-item">
                       Gender</li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li class="breadcrumb-item">Female</li>
                </ol>
            </div>
        </div>
        </div>
</div>





<div class="row">
    <div class="col-xl-12">
        <div class="card m-b-30 m-t-30">
            <div class="card-body">
                <h4 class="mt-0 header-title mb-4">{{femalelist.length}} Female Users</h4>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">User Id</th>

                                <th scope="col">Matrimony Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Status</th>
                                <th scope="col">Image</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let female of femalelist">
                                <td>{{female.userid}}</td>
                                <td>{{female.matrimony_id}}</td>
                                <td>{{female.name}}</td>
                                <td><span class="badge badge-success">Active</span></td>
                                <td>
                                    <div>
                                        <img src="{{imageurls}}{{female.image}}" alt="" class="thumb-md rounded-circle mr-2">
                                    </div>
                                </td>
                                <td>
                                   <a routerLink="/gender/view-profile/{{female.userid}}" class="action-btn">
                                    <i class='bx bx-show'></i>
                                   </a>
                                   <a href="#" class="action-btn">
                                    <i class='bx bx-edit'></i>
                                   </a>
                                   <a href="#" class="action-btn">
                                    <i class='bx bx-trash'></i>
                                   </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        
    </div>
</div>
