<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">Unverified Category</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li><a routerLink="/dashboard">Dashboard</a></li>

                    
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li class="breadcrumb-item">Unverified</li>
                </ol>
            </div>
        </div>
        </div>
</div>




   
    
        
            
                <form class="row">
                    
                    <select class="form-control col-md-3">
                        <option>Select Gender</option> 
                        <option>All</option>
                        <option>Male</option> 
                        <option>Female</option> 
                        
                     </select>

                    <button class="btn btn-primary col-md-2 ">Search</button>
                </form>
            
              
   


    <div class="row">
        <div class="col-xl-12">
            <div class="card m-b-30 m-t-30">
                <div class="card-body">
                    <h4 class="mt-0 header-title mb-4"> 27 Users found</h4>
                    <div class="table-responsive ">
                        <table class="table table-hover advanced-web-table">
                            <thead>
                                <tr>
                                  <th scope="col">S.No</th>
                                    <th scope="col">User Id</th>
    
                                    <th scope="col">Matrimony Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Action</th>
    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><span class="badge badge-success">Active</span></td>
                                    <td>
                                        <div>
                                            <img src="" alt="" class="thumb-md rounded-circle mr-2">
                                        </div>
                                    </td>
                                    <td>
                                       <a routerLink="/gender/view-profile/" class="action-btn">
                                        <i class='bx bx-show'></i>
                                       </a>
    
                                       <a href="" class="action-btn">
                                        <i class='bx bx-block text-danger'></i>
                                       </a>
                                        <div>
    
    
    
                                        </div>
                                    </td>
                                </tr>
    
                            </tbody>
                        </table>
                    </div>
                </div>
    
            </div>
    
            <nav aria-label="Page navigation example">
    
              <div class="my-2 text-right">
                <!-- <pagination-controls></pagination-controls> -->
            </div>
               
              </nav>
    
        </div>
    
    </div>
    
