<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">Location wise User</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li><a routerLink="/dashboard">Dashboard</a></li>
                    <li><i class='bx bx-chevron-right'></i></li>

                    <li class="breadcrumb-item">
                       Location</li>

                </ol>
            </div>
        </div>
        </div>
</div>

<div class="filter">

<label for="search"><i class='bx bx-filter-alt'></i></label>
<input class="table-filter" type="search" data-table="advanced-web-table" placeholder="Filter user">
</div>


<div class="row">
    <div class="col-xl-12">
        <div class="card m-b-30 m-t-30">
            <div class="card-body">
                <h4 class="mt-0 header-title mb-4"> Location wise users</h4>
                <div class="table-responsive">
                    <table class="table table-hover advanced-web-table"
                    data-toggle="table"
                    data-search="true"
                    data-filter-control="true" 
                    
                    data-click-to-select="true"
                    data-toolbar="#toolbar"  >
                        <thead>
                            <tr>
                                <th scope="col" data-field="user_id" data-filter-control="input" >User Id</th>

                                <th scope="col" data-field="Matrimony_id" data-filter-control="input" >Matrimony Id</th>
                                <th scope="col" data-field="Name" data-filter-control="input">Name</th>
                                 <th scope="col" data-field="city" data-filter-control="select">City</th>
                                <th scope="col" data-field="state" data-filter-control="select">State</th> 
                                <th scope="col" data-field="gender" data-filter-control="select">Gender</th>
                                <th  scope="col">Action</th>




                                

                            </tr>

                        </thead>
                        <tbody>
                            <tr>

                                <td>1</td>
                                <td>1234</td>
                                <td>Ankit</td>
                                 <td>Ranchi</td>
                                <td>Jharkhand</td> 
                                <td>Male</td>
                                
                            </tr>
                            <tr>

                                <td>2</td>
                                <td>234</td>
                                <td> Rakesh</td>
                                <td>Bihar</td>
                                <td>Patna</td>
                                <td>Male</td> 
                               
                            </tr>
                            <tr>

                                <td>3</td>
                                <td>125</td>
                                <td>Priya</td>
                                <td>Hyderabad</td>
                                <td>Telengana</td> 
                                <td>Female</td>
                               
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>

    </div>

</div>
