<div id="wrapper">
  <!-- Top Bar Start -->
  <div class="topbar">
      <!-- LOGO -->
      <div class="topbar-left">
       
          <a href="#" class="logo">
              <span class="logo-light">
                      Matrimony Admin
                  </span>
          </a>
          <i class='bx bx-menu open-left'></i>
      </div>
      <nav class="navbar-custom">
          
          <ul class="navbar-right list-inline float-right mb-0">

              <li class="dropdown notification-list list-inline-item">
                  <div class="dropdown notification-list nav-pro-img">
                      <a class="dropdown-toggle nav-link arrow-none nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                          <img src="assets/images/user-4.jpg" alt="user" class="rounded-circle">
                      </a>
                      <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                          <!-- item-->
                          <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle"></i> {{adminusername}}</a>
                          <a class="dropdown-item d-block" href="#"><span class="badge badge-success float-right">11</span><i class="mdi mdi-settings"></i> Settings</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item text-danger" (click)="adminlogout()"><i class='bx bx-power-off text-danger'></i> Logout</a>
                      </div>
                  </div>
              </li>
          </ul>
          <ul class="list-inline menu-left mb-0">
              <li class="float-left">
                 
              </li>
              <li class="d-none d-md-inline-block">
                  <form role="search" class="app-search">
                      <div class="form-group mb-0">
                          <input type="text"  class="table-filter form-control"  data-table="advanced-web-table" placeholder="Search..">
                          <button><i class="bx bx-search"></i></button>
                      </div>
                  </form>
              </li>
          </ul>
      </nav>
  </div>
  <!-- Top Bar End -->
  <!-- ========== Left Sidebar Start ========== -->
  <div class="left side-menu">
      <div class="slimscroll-menu" id="remove-scroll">
          <!--- Sidemenu -->
          <div id="sidebar-menu">
              <!-- Left Menu Start -->
              <ul class="metismenu" id="side-menu">
                  <li class="menu-title">Menu</li>
                  <li>
                      <a routerLink="/dashboard" class="waves-effect">
                       <i class='bx bxs-dashboard'></i> <span> Dashboard </span>
                      </a>
                  </li>



                  <li class="menu-title">Category</li>

                  <li>
                    <a href="#" class="waves-effect">
                      <i class='bx bx-male-female'></i> <span> Gender </span><span class="float-right menu-arrow"><i class='bx bxs-chevron-right'></i></span>
                    </a>
                    <ul class="submenu">
                      <li><a routerLink="/gender/male">Male</a></li>
                      <li><a routerLink="/gender/female">Female</a></li>

                  </ul>
                </li>
                  <li>
                    <a routerLink="/profession" class="waves-effect">
                      <i class='bx bxs-first-aid'></i> <span> Profession </span>
                    </a>
                </li>
                <li>
                  <a routerLink="/location" class="waves-effect">
                    <i class='bx bx-location-plus'></i> <span> Location </span>
                  </a>
              </li>
              <li>
                <a routerLink="/caste" class="waves-effect">
                    <i class='bx bxl-ok-ru'></i> <span> Caste </span>
                </a>
            </li>
            <li>
              <a routerLink="/education" class="waves-effect">
                <i class='bx bx-book'></i> <span> Education </span>
              </a>
          </li>
          <li>
            <a routerLink="/subscribe" class="waves-effect">
                <i class='bx bxs-user-check'></i> <span> Subscribe </span>
            </a>
        </li>
        <li>
          <a routerLink="/unsubscribe" class="waves-effect">
            <i class='bx bxs-user-x'></i> <span> Unsubscribe </span>
          </a>
      </li>
      <li>
        <a routerLink="/verified" class="waves-effect">
            <i class='bx bxs-check-circle'></i> <span> Verified </span>
        </a>
    </li>
    <li>
      <a routerLink="/unverified" class="waves-effect">
        <i class='bx bx-x-circle'></i> <span> Unverified </span>
      </a>
  </li>

              </ul>
          </div>
          <!-- Sidebar -->
          <div class="clearfix"></div>
      </div>
      <!-- Sidebar -left -->
  </div>
  <!-- Left Sidebar End -->
  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="content-page">
      <!-- Start content -->

      <div class="content">
          <router-outlet></router-outlet>


      </div>

      <!-- content -->
      <footer class="footer">
          ©2022 Traditional Matrimony <span class="d-none d-sm-inline-block"> <i class="mdi mdi-heart text-danger"></i> </span>.
      </footer>
  </div>
  <!-- ============================================================== -->
  <!-- End Right content here -->
  <!-- ============================================================== -->
</div>
