<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">User Details</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li><a routerLink="/dashboard">Dashboard</a></li>
                    <li><i class='bx bx-chevron-right'></i></li>

                    <li class="breadcrumb-item">
                       Gender</li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li class="breadcrumb-item"></li>
                </ol>
            </div>
        </div>
        </div>
</div>

<div class="user-profile py-4">

    <div class="container">
        <div class="row">

            <div class="col-lg-4">
                <div class="card">
                <div class=" bg-transparent text-center">
                    <img class="profile_img" src="{{imageurls}}{{user.image}}">
                    <h3>{{user.name}}</h3>
                  </div>
                  </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                <div class="card-body">




                    <table class="table table-bordered">
                        <tr>
                          <th width="40%">User ID</th>
                          <td width="2%">:</td>
                          <td>{{user.name}}</td>
                        </tr>
                        <tr>
                            <th width="40%"> Matrimony ID </th>
                            <td width="2%">:</td>
                            <td>{{user.matrimony_id}}</td>
                          </tr>
                          <tr>
                            <th width="40%">Active Plan </th>
                            <td width="2%">:</td>
                            <td>{{user.active_plan}}</td>
                          </tr>
                          <tr>
                            <th width="40%">  Taken Plan </th>
                            <td width="2%">:</td>
                            <td>{{user.taken_plan}}</td>
                          </tr>
                          <tr>
                            <th width="40%">  Total Access  </th>
                            <td width="2%">:</td>
                            <td>{{user.total_access}}</td>
                          </tr>
                          <tr>
                            <th width="40%"> Update Plan Date </th>
                            <td width="2%">:</td>
                            <td>{{user.update_plan_date}}</td>
                          </tr>
                          <tr>
                            <th width="40%"> Created Date </th>
                            <td width="2%">:</td>
                            <td>{{user.created_date | date: 'd MMMM y'  }}</td>
                          </tr>


                        </table>



                      </div>
                      </div>
            </div>
        </div>
    </div>

    <div class="container">




      <div class="row">

        <div class="col-lg-12">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
            </div>
            <div class="card-body pt-0">
              <table class="table table-bordered">
                <tr>
                  <th width="40%">Name</th>
                  <td width="2%">:</td>
                  <td>{{user.name}}</td>
                </tr>
                <tr>
                  <th width="30%">Connect Status</th>
                  <td width="2%">:</td>
                  <td>connect_now</td>
                </tr>
                <tr>
                  <th width="30%">Gender</th>
                  <td width="2%">:</td>
                  <td>{{user.gender}}</td>
                </tr>
                <tr>
                  <th width="30%">Email</th>
                  <td width="2%">:</td>
                  <td>{{user.email}}</td>
                </tr>
                <tr>
                  <th width="30%">Date of Birth</th>
                  <td width="2%">:</td>
                  <td>{{user.dateofbirth}}</td>
                </tr>
                <tr>
                    <th width="30%">Height</th>
                    <td width="2%">:</td>
                    <td>{{user.height}}</td>
                </tr>
                <tr>
                    <th width="30%">Physical Status</th>
                    <td width="2%">:</td>
                    <td>{{user.physical_status}}</td>
                </tr>
                <tr>
                    <th width="30%">Weight</th>
                    <td width="2%">:</td>
                    <td>{{user.weight}}</td>
                </tr>
                <tr>
                    <th width="30%">Marital Status</th>
                    <td width="2%">:</td>
                    <td>{{user.marital_status}}</td>
                </tr>
                <tr>
                    <th width="30%">Mother Tongue</th>
                    <td width="2%">:</td>
                    <td>{{user.mother_tongue}}</td>
                </tr>
                <tr>
                    <th width="30%">Diet Preference</th>
                    <td width="2%">:</td>
                    <td>{{user.diet_preference}}</td>
                </tr>
                <tr>
                    <th width="30%">Drinking Habbit</th>
                    <td width="2%">:</td>
                    <td>{{user.drinking_habbit}}</td>
                </tr>
                <tr>
                    <th width="30%">Smoking Habbit</th>
                    <td width="2%">:</td>
                    <td>{{user.smoking_habbit}}</td>
                </tr>
                <tr>
                    <th width="30%">Gotram</th>
                    <td width="2%">:</td>
                    <td>{{user.gotram}}</td>
                </tr>
                <tr>
                    <th width="30%">Star</th>
                    <td width="2%">:</td>
                    <td>{{user.start}}</td>
                </tr>
                <tr>
                    <th width="30%">Rashi</th>
                    <td width="2%">:</td>
                    <td>{{user.rashi}}</td>
                </tr>
                <tr>
                    <th width="30%">Caste</th>
                    <td width="2%">:</td>
                    <td>{{user.caste}}</td>
                </tr>
                <tr>
                    <th width="30%">Sub Caste</th>
                    <td width="2%">:</td>
                    <td>{{user.sub_caste}}</td>
                </tr>
                <tr>
                    <th width="30%">Religion</th>
                    <td width="2%">:</td>
                    <td>{{user.religion}}</td>
                </tr>
                <tr>
                    <th width="30%">City</th>
                    <td width="2%">:</td>
                    <td>{{user.city}}</td>
                </tr>
                <tr>
                    <th width="30%">State</th>
                    <td width="2%">:</td>
                    <td>{{user.state}}</td>
                </tr>
                <tr>
                    <th width="30%">Country</th>
                    <td width="2%">:</td>
                    <td>{{user.country}}</td>
                </tr>
                <tr>
                    <th width="30%">Occupation</th>
                    <td width="2%">:</td>
                    <td>{{user.occupation}}</td>
                </tr>
                <tr>
                    <th width="30%">Annual Income</th>
                    <td width="2%">:</td>
                    <td>{{user.annual_income}}</td>
                </tr>
                <tr>
                    <th width="30%">Job Sector</th>
                    <td width="2%">:</td>
                    <td>{{user.job_sector}}</td>
                </tr>
                <tr>
                    <th width="30%">College</th>
                    <td width="2%">:</td>
                    <td>{{user.college}}</td>
                </tr>
                <tr>
                    <th width="30%">Organisation</th>
                    <td width="2%">:</td>
                    <td>{{user.orgnisation}}</td>
                </tr>
                <tr>
                    <th width="30%">Qualification</th>
                    <td width="2%">:</td>
                    <td>{{user.qualification}}</td>
                </tr>
                <tr>
                    <th width="30%">Total Family Members</th>
                    <td width="2%">:</td>
                    <td>{{user.total_family_members}}</td>
                </tr>
                <tr>
                    <th width="30%">Father Details</th>
                    <td width="2%">:</td>
                    <td>{{user.father_details}}</td>
                </tr>
                <tr>
                    <th width="30%">Mother Details</th>
                    <td width="2%">:</td>
                    <td>{{user.mother_details}}</td>
                </tr>

                <tr>
                    <th width="30%">Married Brother</th>
                    <td width="2%">:</td>
                    <td>{{user.married_brother}}</td>
                </tr>
                <tr>
                  <th width="30%">Married Sister</th>
                  <td width="2%">:</td>
                  <td>{{user.married_sister}}</td>
              </tr>
              <tr>
                <th width="30%">Unmarried Brother</th>
                <td width="2%">:</td>
                <td>{{user.unmarried_brother}}</td>
              </tr>
                <tr>
                    <th width="30%">Unarried Sister</th>
                    <td width="2%">:</td>
                    <td>{{user.unmarried_sister}}</td>
                </tr>

                <tr>
                    <th width="30%">Profile Created By</th>
                    <td width="2%">:</td>
                    <td>{{user.profile_created_by}}</td>
                </tr>
                <tr>
                    <th width="30%">Family Type</th>
                    <td width="2%">:</td>
                    <td>{{user.family_type}}</td>
                </tr>
                <tr>
                    <th width="30%">Family Status</th>
                    <td width="2%">:</td>
                    <td>{{user.family_status}}</td>
                </tr>
                <tr>
                    <th width="30%">Family Value</th>
                    <td width="2%">:</td>
                    <td>{{user.family_value}}</td>
                </tr>

                <tr>
                    <th width="30%">Status</th>
                    <td width="2%">:</td>
                    <td>{{user.status}}</td>
                </tr>
                <tr>
                    <th width="30%">Block</th>
                    <td width="2%">:</td>
                    <td>{{user.block}}</td>
                </tr>
                <tr>
                    <th width="30%">Basic Details</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Viewed Status</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Block Status</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Liked Status</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Req Status</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>

                <tr>
                    <th width="30%">Smoke Status</th>
                    <td width="2%">:</td>
                    <td>{{user.smoking_habbit}}</td>
                </tr>
                <tr>
                    <th width="30%">Drink Status</th>
                    <td width="2%">:</td>
                    <td>{{user.drinking_habbit}}</td>
                </tr>
                <tr>
                    <th width="30%">Phone Status</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Visible Status</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>




              </table>
            </div>
          </div>
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0">Preference</h3>
            </div>
            <div class="card-body pt-0">
                <p>{{user.Few_Words_MySelf}}</p>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>



  <div class="container">
      <div class="row" >
          <div class="image-container" *ngIf="user.multiimage.length>0; else elseBlock" >

            <img src="{{imageurls}}{{image}}" alt="" *ngFor="let image of user.multiimage">

          </div>
          <ng-template #elseBlock>

            <h5>User have no more image to upload!</h5>


        </ng-template>
      </div>

  </div>


