<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">User Details</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li><a routerLink="/dashboard">Dashboard</a></li>
                    <li><i class='bx bx-chevron-right'></i></li>

                    <li class="breadcrumb-item">
                       Gender</li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li class="breadcrumb-item">Male</li>
                </ol>
            </div>
        </div>
        </div>
</div>

<div class="user-profile py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
            <div class="card shadow-sm">
              <div class="card-header bg-transparent text-center">
                <img class="profile_img" src="assets/images/user-3.jpg" alt="student dp">
                <h3>Ankit Kumar</h3>
              </div>
              <div class="card-body">
                <p class="mb-0"><strong class="pr-1">User ID:</strong>321000001</p>
                <p class="mb-0"><strong class="pr-1">Matrimony ID:</strong>12929292</p>
                <p class="mb-0"><strong class="pr-1">Active Plan:</strong>Null</p>
                <p class="mb-0"><strong class="pr-1">Taken Plan:</strong>Null</p>
                <p class="mb-0"><strong class="pr-1">Total Access:</strong>Null</p>

                <p class="mb-0"><strong class="pr-1">Update Plan Date:</strong>Null</p>
                <p class="mb-0"><strong class="pr-1">Created Date:</strong>20-04-2021</p>

                
                


              </div>
            </div>
          </div>
        <div class="col-lg-8">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
            </div>
            <div class="card-body pt-0">
              <table class="table table-bordered">
                <tr>
                  <th width="30%">Name</th>
                  <td width="2%">:</td>
                  <td>Ankit Kumar</td>
                </tr>
                <tr>
                  <th width="30%">Connect Status</th>
                  <td width="2%">:</td>
                  <td>connect_now</td>
                </tr>
                <tr>
                  <th width="30%">Gender</th>
                  <td width="2%">:</td>
                  <td>Male</td>
                </tr>
                <tr>
                  <th width="30%">Email</th>
                  <td width="2%">:</td>
                  <td>user@gmail.com</td>
                </tr>
                <tr>
                  <th width="30%">Date of Birth</th>
                  <td width="2%">:</td>
                  <td>26</td>
                </tr>
                <tr>
                    <th width="30%">Height</th>
                    <td width="2%">:</td>
                    <td>5.6feet</td>
                </tr>
                <tr>
                    <th width="30%">Physical Status</th>
                    <td width="2%">:</td>
                    <td>nice</td>
                </tr>
                <tr>
                    <th width="30%">Weight</th>
                    <td width="2%">:</td>
                    <td>50</td>
                </tr>
                <tr>
                    <th width="30%">Marital Status</th>
                    <td width="2%">:</td>
                    <td>single</td>
                </tr>
                <tr>
                    <th width="30%">Mother Tongue</th>
                    <td width="2%">:</td>
                    <td>Hindi</td>
                </tr>
                <tr>
                    <th width="30%">Diet Preference</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Drinking Habbit</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Smoking Habbit</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Gotram</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Star</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Rashi</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Caste</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Sub Caste</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Religion</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">City</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">State</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Country</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Occupation</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Annual Income</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Job Sector</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">College</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Organisation</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Qualification</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Total Family Members</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Father Details</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Mother Details</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Unmarried Brother</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Married Brother</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Unarried Sister</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Married Sister</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Profile Created By</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Family Type</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Family Status</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Family Value</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Few words myself</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Status</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Block</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Basic Details</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Viewed Status</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Block Status</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Liked Status</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Req Status</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Food Status</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Smoke Status</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Drink Status</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Phone Status</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
                <tr>
                    <th width="30%">Visible Status</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
               
                


              </table>
            </div>
          </div>
            <div style="height: 26px"></div>
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Other Information</h3>
            </div>
            <div class="card-body pt-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>